/*
|---------------------------------
|- for navigation bar
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

/*
|---------------------------------
|- for navigation bar
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

/*
|---------------------------------
|- for persional page
|- 11/11/2017 - 21/11/2017          
|- by anhkhoa289          
|---------------------------------
*/

/*
|---------------------------------
|- for persional page
|- 23/11/2017 - 21/11/2017          
|- by anhkhoa289          
|---------------------------------
*/

/*
|---------------------------------
|- for persional page
|- 22/12/2017 - 23/12/2017          
|- by anhkhoa289          
|---------------------------------
*/

/*
|---------------------------------
|- for navigation bar
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

* {
  font-size: 1.6rem;
}

nav.navbar-phongtro {
  background-color: #fff;
  border-color: #fff;
  border-radius: 0px;
}

nav.navbar-phongtro .navbar-brand {
  color: #2d2d2d;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-brand:hover,
nav.navbar-phongtro .navbar-brand:focus {
  color: #1BCA06;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-collapse,
nav.navbar-phongtro .navbar-form {
  border-color: #fff;
}

nav.navbar-phongtro .navbar-form .input-group .form-control::-webkit-input-placeholder {
  color: #2d2d2d;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control:-ms-input-placeholder {
  color: #2d2d2d;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control::-ms-input-placeholder {
  color: #2d2d2d;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control::placeholder {
  color: #2d2d2d;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control:hover::-webkit-input-placeholder,
nav.navbar-phongtro .navbar-form .input-group .form-control:focus::-webkit-input-placeholder {
  color: #1BCA06;
  font-weight: bolder;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control:hover:-ms-input-placeholder,
nav.navbar-phongtro .navbar-form .input-group .form-control:focus:-ms-input-placeholder {
  color: #1BCA06;
  font-weight: bolder;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control:hover::-ms-input-placeholder,
nav.navbar-phongtro .navbar-form .input-group .form-control:focus::-ms-input-placeholder {
  color: #1BCA06;
  font-weight: bolder;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .form-control:hover::placeholder,
nav.navbar-phongtro .navbar-form .input-group .form-control:focus::placeholder {
  color: #1BCA06;
  font-weight: bolder;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-form .input-group .input-group-btn .btn-default {
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
  color: #1BCA06;
}

nav.navbar-phongtro .navbar-form .input-group .input-group-btn:hover .btn-default {
  background-color: #15ae03;
  color: #fff;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-nav > li > a {
  color: #2d2d2d;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-nav > li > a:hover,
nav.navbar-phongtro .navbar-nav > li > a:focus {
  background-color: #15ae03;
  color: #fff;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-nav > .active > a,
nav.navbar-phongtro .navbar-nav > .active > a:hover,
nav.navbar-phongtro .navbar-nav > .active > a:focus {
  background-color: #1bca06;
  color: #fff;
}

nav.navbar-phongtro .navbar-nav > .open > a,
nav.navbar-phongtro .navbar-nav > .open > a:hover,
nav.navbar-phongtro .navbar-nav > .open > a:focus {
  background-color: #15ae03;
  color: #fff;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

nav.navbar-phongtro .navbar-nav.navbar-right > .user a {
  padding: 0.9rem;
}

nav.navbar-phongtro .navbar-nav.navbar-right > .user a > img {
  width: 3rem;
  border-radius: 50%;
  width: 3.2rem;
}

nav.navbar-phongtro .dropdown-menu > li > a:hover {
  background-color: #15ae03;
  color: #fff;
  -webkit-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
}

.input-group.file-caption-main .input-group-btn span,
.input-group.file-caption-main .input-group-btn i {
  font-size: 1.4rem;
}

.input-group.file-caption-main .input-group-btn .btn-file {
  background-color: #1bca06;
  border-color: #15ae03;
}

.my-btn-success {
  background-color: #1bca06;
  border-color: #15ae03;
}

.my-btn-success.disabled {
  background-color: rgba(29, 202, 6, 0.7);
  border-color: rgba(21, 174, 3, 0.7);
}

.my-btn-success:hover,
.my-btn-success:focus {
  background-color: #15ae03;
  border-color: #15ae03;
}

.carousel.slide .carousel-inner .item img {
  margin: auto;
}

.carousel.slide .carousel-inner .item.active {
  max-height: 41rem;
}

.carousel.slide .carousel-control {
  background: transparent;
}

div.img-nhatro > div {
  height: 14rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 8rem;
}

.input-sdt input[type=number]::-webkit-inner-spin-button,
.input-sdt input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

/*
|---------------------------------
|- for homepage
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

.homepage > .row > div {
  padding-left: 0;
  padding-right: 0;
}

.homepage .result .panel {
  border-right: 0;
}

.homepage .result .panel .panel-heading {
  line-height: 3.6rem;
  font-weight: bold;
}

.homepage #filter {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage #filter > button {
  width: 30rem;
  padding: 1rem;
  border: none;
  font-weight: bold;
  background: #ffffff;
}

.homepage #filter > button.active,
.homepage #filter > button:hover {
  background: #1bca06;
  color: #ffffff;
}

.homepage #filter > button.back,
.homepage #filter > button.ok {
  width: 4.5rem;
}

.homepage #filter > select,
.homepage #filter > .dia-phuong {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.homepage #filter > .dia-phuong {
  width: 100%;
}

.homepage #filter > .dia-phuong > select {
  margin: .5rem;
}

.homepage #filter-conditional > div {
  display: inline-block;
}

.homepage #filter-conditional > div > .cond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem;
  padding-right: 1rem;
  margin: .5rem;
  border-radius: 5rem;
  background-color: #777777;
  color: white;
  font-weight: bold;
  line-height: 1.6rem;
  white-space: nowrap;
}

.homepage #filter-conditional > div > .cond > button {
  border: none;
  background-color: transparent;
  line-height: 1.3rem;
}

.homepage #filter-conditional > div > .cond > button > span {
  font-size: 1.3rem;
}

.homepage #filter-conditional > div > .long-cond {
  white-space: normal;
}

.homepage .panel .panel-body {
  padding: 0 15px;
}

.homepage .panel .panel-body a.bordering {
  color: inherit;
  display: block;
  border-top: 1px solid silver;
}

.homepage .panel .panel-body a.bordering:hover {
  color: inherit;
}

.homepage .panel .panel-body a.bordering div.row {
  padding: 2rem 0;
  height: auto;
  width: auto;
}

.homepage .panel .panel-body a.bordering div.row:hover {
  background-color: #edf4e8;
}

.homepage .panel .panel-body a.bordering div.row > .img-ctv {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.homepage .panel .panel-body a.bordering div.row > .img-ctv span {
  float: right;
  text-decoration: none;
  font-style: italic;
  color: #E65100;
}

@media screen and (min-width: sm) {
  .homepage .panel .panel-body a.bordering div.row > .img-ctv span {
    position: absolute;
    right: 15px;
    bottom: -88px;
  }
}

.homepage .panel .panel-body a.bordering div.row > .img-ctv img {
  width: 3rem;
  border-radius: 50%;
}

/*
|---------------------------------
|- for account
|- 09/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

.account .form-xac-nhan {
  text-align: center;
}

.account .form-xac-nhan input[type=text] {
  display: inline-block;
  width: auto;
}

.account .trang-ca-nhan .thanh-ben .avatar img {
  border-radius: 50%;
  max-width: -webkit-fill-available;
}

.account .trang-ca-nhan .thanh-ben .name {
  text-align: center;
}

.account .trang-ca-nhan .trang-chinh .underline-nav {
  border-bottom: solid 1px #d1d5da;
}

.account .trang-ca-nhan .trang-chinh .underline-nav .underline-nav-item {
  display: table-cell;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  color: #586069;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  height: 6rem;
}

.account .trang-ca-nhan .trang-chinh .underline-nav .underline-nav-item.selected {
  border-bottom-color: #e36209;
}

.account .trang-ca-nhan .trang-chinh .underline-nav .underline-nav-item .Counter {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: #1bca06;
  padding: 2px 5px;
  border-radius: 20px;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul {
  list-style: none;
  padding: 0;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:hover,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:focus,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:hover,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:focus,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:hover,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:focus {
  color: inherit;
  text-decoration: none;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a .img-nhatro,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:hover .img-nhatro,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:focus .img-nhatro,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a .img-nhatro,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:hover .img-nhatro,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:focus .img-nhatro,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a .img-nhatro,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:hover .img-nhatro,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:focus .img-nhatro {
  display: inline-block;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:hover .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:focus .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:hover .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:focus .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:hover .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:focus .img-nhatro > div {
  width: 7rem;
  height: 7rem;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a > .noi-dung,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:hover > .noi-dung,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:focus > .noi-dung,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a > .noi-dung,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:hover > .noi-dung,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:focus > .noi-dung,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a > .noi-dung,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:hover > .noi-dung,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:focus > .noi-dung {
  margin-left: 2rem;
  text-align: justify;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:hover > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:focus > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:hover > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:focus > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:hover > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:focus > .noi-dung > .title {
  font-weight: bolder;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li > a:hover,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li > a:hover,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li > a:hover {
  background: #E6E5E5;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul > li.the-end,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul > li.the-end,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul > li.the-end {
  height: 7rem;
  text-align: center;
  font-size: 2.5rem;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div {
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div .img-nhatro,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div .img-nhatro,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div .img-nhatro {
  display: inline-block;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div .img-nhatro > div,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div .img-nhatro > div {
  width: 7rem;
  height: 7rem;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > .noi-dung,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > .noi-dung,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > .noi-dung {
  margin-left: 2rem;
  text-align: justify;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > .noi-dung > .title,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > .noi-dung > .title {
  font-weight: bolder;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.noi-dung,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.noi-dung,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.noi-dung {
  width: 80%;
  white-space: pre-wrap;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.action,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.action,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.action {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.action a.trash,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.action a.trash,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.action a.trash {
  color: #D94A38;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.action a.trash:hover,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.action a.trash:hover,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.action a.trash:hover {
  color: #89372E;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.action span,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.action span,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.action span {
  font-size: 3rem;
  margin: 0 0 0 2rem;
  cursor: pointer;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio > label,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio > label,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio > label {
  position: relative;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio > label > .checkmark,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio > label > .checkmark,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio > label > .checkmark {
  border: 0.2rem solid #a8a8a8;
  padding: .3rem;
  padding-right: 1rem;
  border-radius: 3rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  font-size: 1.7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(lightgray));
  background-image: linear-gradient(#ececec, lightgray);
  color: gray;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio > label > .checkmark .glyphicon,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio > label > .checkmark .glyphicon,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio > label > .checkmark .glyphicon {
  border: 0.2rem solid #a8a8a8;
  border-radius: 3rem;
  padding: 0.5rem;
  margin-left: -.5rem;
  margin-right: 1rem;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio > label > input,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio > label > input,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio > label > input {
  position: absolute;
  opacity: 0;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio > label > input:checked ~ .checkmark,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio > label > input:checked ~ .checkmark,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio > label > input:checked ~ .checkmark {
  border-color: silver;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1bca06), to(#4caf50));
  background-image: linear-gradient(#1bca06, #4caf50);
  color: white;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div > div.radio > label > input:checked ~ .checkmark .glyphicon,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div > div.radio > label > input:checked ~ .checkmark .glyphicon,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div > div.radio > label > input:checked ~ .checkmark .glyphicon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(lightgray));
  background-image: linear-gradient(#ececec, lightgray);
  color: gray;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div > div.table,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div > div.table,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div > div.table {
  width: 100%;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul > li > div:hover,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul > li > div:hover,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul > li > div:hover {
  background-color: #E6E5E5;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul li.xem-them,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul li.xem-them,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul li.xem-them {
  height: 7rem;
  text-align: center;
  font-size: 2.5rem;
}

.account .trang-ca-nhan .trang-chinh .thong-bao ul.new-ul li.xem-them:hover,
.account .trang-ca-nhan .trang-chinh .phong-cua-toi ul.new-ul li.xem-them:hover,
.account .trang-ca-nhan .trang-chinh #danhsachduyetphong ul.new-ul li.xem-them:hover {
  text-decoration: underline;
  cursor: pointer;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin {
  padding: 1rem;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin span,
.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin .ten-phong {
  font-weight: bolder;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin .noidung {
  white-space: pre-line;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin .chua-duyet {
  color: red;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin .hien-so {
  color: #1BCA06;
  background-color: #FFF;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin .hinh-anh {
  position: absolute;
  right: 1rem;
}

.account .trang-ca-nhan .trang-chinh .chi-tiet-thong-bao > .datcho > .thong-tin .hinh-anh > img {
  max-width: 38rem;
  max-height: 38rem;
}

.account .trang-ca-nhan .trang-chinh .danh-sach-dat-cho td {
  vertical-align: middle;
}

.account .trang-ca-nhan .trang-chinh .danh-sach-dat-cho td > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account .trang-ca-nhan .trang-chinh .danh-sach-dat-cho td > div .img-nhatro {
  display: inline-block;
}

.account .trang-ca-nhan .trang-chinh .danh-sach-dat-cho td > div .img-nhatro > div {
  width: 7rem;
  height: 7rem;
}

.account .trang-ca-nhan .trang-chinh .danh-sach-dat-cho td > div > .noi-dung {
  margin-left: 2rem;
  text-align: justify;
}

.account .trang-ca-nhan .trang-chinh .danh-sach-dat-cho td > div > .noi-dung > .title {
  font-weight: bolder;
}

/*
|---------------------------------
|- for phong
|- 11/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

.phong textarea {
  resize: none;
}

.phong .xem-phong > .thong-tin span,
.phong .xem-phong > .thong-tin .ten-phong {
  font-weight: bolder;
}

.phong .xem-phong > .thong-tin .noidung {
  white-space: pre-line;
}

.phong .xem-phong > .thong-tin .chua-duyet {
  color: red;
}

.phong .xem-phong > .thong-tin .hien-so {
  color: #1BCA06;
  background-color: #FFF;
}

.phong .xem-phong #ForCTV .radio > label {
  position: relative;
}

.phong .xem-phong #ForCTV .radio > label > .checkmark {
  border: 0.2rem solid #a8a8a8;
  padding: .3rem;
  padding-right: 1rem;
  border-radius: 3rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  font-size: 1.7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(lightgray));
  background-image: linear-gradient(#ececec, lightgray);
  color: gray;
}

.phong .xem-phong #ForCTV .radio > label > .checkmark .glyphicon {
  border: 0.2rem solid #a8a8a8;
  border-radius: 3rem;
  padding: 0.5rem;
  margin-left: -.5rem;
  margin-right: 1rem;
}

.phong .xem-phong #ForCTV .radio > label > input {
  position: absolute;
  opacity: 0;
}

.phong .xem-phong #ForCTV .radio > label > input:checked ~ .checkmark {
  border-color: silver;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1bca06), to(#4caf50));
  background-image: linear-gradient(#1bca06, #4caf50);
  color: white;
}

.phong .xem-phong #ForCTV .radio > label > input:checked ~ .checkmark .glyphicon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(lightgray));
  background-image: linear-gradient(#ececec, lightgray);
  color: gray;
}

.phong .sua-phong span,
.phong .sua-phong .ten-phong {
  font-weight: bolder;
}

.phong .sua-phong .noidung {
  white-space: pre-line;
}

.phong .sua-phong .contain-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phong .sua-phong .contain-label > label {
  width: 33.333333333%;
  height: 33.333333333%;
  position: relative;
  cursor: pointer;
}

.phong .sua-phong .contain-label > label > img {
  width: 100%;
  height: 100%;
}

.phong .sua-phong .contain-label > label > .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: #eee;
  opacity: 0.3;
  border-radius: 50%;
}

.phong .sua-phong .contain-label > label > .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 39%;
  width: 4rem;
  height: 8rem;
  border: solid white;
  border-width: 0 12px 12px 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.phong .sua-phong .contain-label > label:hover > input ~ .checkmark {
  background-color: #ccc;
}

.phong .sua-phong .contain-label > label > input {
  position: absolute;
  opacity: 0;
}

.phong .sua-phong .contain-label > label > input:checked ~ .checkmark {
  background-color: #2196F3;
}

.phong .sua-phong .contain-label > label > input:checked ~ .checkmark:after {
  display: block;
}

