/*
|---------------------------------
|- for navigation bar
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/
@mixin colors($back-color, $text-color){
    background-color: $back-color;
    color: $text-color;
}

@mixin big-font {
    font-weight: bolder;
}

@mixin pri-transittion {
    transition: color .2s ease 0s;
    transition: background-color .2s ease 0s;
}


///imgae Circle
@mixin circle{
    width: 3rem;
    border-radius:50%;
}