/*
|---------------------------------
|- for navigation bar
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/
@mixin colors($back-color, $text-color) {
    background-color: $back-color;
    color: $text-color;
}

@mixin big-font {
    font-weight: bolder;
}

@mixin pri-transittion {
    transition: color .2s ease 0s;
    transition: background-color .2s ease 0s;
}


///imgae Circle
@mixin circle {
    width: 3rem;
    border-radius:50%;
}

/*
|---------------------------------
|- for persional page
|- 11/11/2017              
|- by anhkhoa289          
|---------------------------------
*/
@mixin xem-thong-tin-phong-tro {
    span, .ten-phong {
        font-weight: bolder;
    }
    .noidung {
        white-space: pre-line;
    }
    .chua-duyet {
        color: red;
    }
    .hien-so {
        color: $thi-text-color;
        background-color: #FFF;//$sec-back-color;
    }
}

@mixin trangcanhan-img-noidung {
    align-items: center;
    display: flex;

    .img-nhatro {
        display: inline-block;
        >div {
            width: 7rem;
            height: 7rem;
        }
    }
    >.noi-dung {
        margin-left: 2rem;
        text-align: justify;
        >.title {
            font-weight: bolder;
        }
    }
}