/*
|---------------------------------
|- for navigation bar
|- 09/10/2017              
|- by anhkhoa289          
|---------------------------------
*/
.account{
    .form-xac-nhan{
        text-align: center;
        input[type=text]{
            display: inline-block;
            width: auto;
        }
    }
    .form-dang-nhap {
    }
}