/*
|---------------------------------
|- for homepage
|- 04/10/2017              
|- by anhkhoa289          
|---------------------------------
*/

$back-panel-approved-color: $sec-back-color; //#FFF200;
$back-panel-notapproved-color: #D50000;
$back-panel-hover: rgba(0,0,0,.05);
$ctv-color: #E65100;
.homepage {
    > .row > div {
        padding-left: 0;
        padding-right: 0;
    }
    .result {
        .panel {
            border-right: 0;
            .panel-heading {
                line-height: 3.6rem;
                font-weight: bold;
            }
        }
    }

    #filter {
        padding: 0;
        display: flex;
        align-items: center;
        > button {
            width: 30rem;
            padding: 1rem;
            border: none;
            font-weight: bold;
            background: #ffffff;

            &.active, &:hover {
                background: $sec-back-color;
                color: #ffffff;
            }

            &.back, &.ok {
                width: 4.5rem;
            }
        }
        > select, > .dia-phuong {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
        > .dia-phuong {
            width: 100%;
            > select {
                //display: inline-block;
                //width: 30%;
                //margin-left: .5rem;
                //margin-right: .5rem;
                margin: .5rem
            }
        }
    }

    #filter-conditional {
        > div {
            display: inline-block;
            > .cond {
                display: flex;
                width: fit-content;
                padding: .5rem;
                padding-right: 1rem;
                margin: .5rem;
                border-radius: 5rem;
                background-color: #777777;
                color: white;
                font-weight: bold;
                line-height:1.6rem;
                white-space: nowrap;

                > button {
                    border: none;
                    background-color: rgba(0,0,0,0);
                    line-height: 1.3rem;
                    > span {
                        font-size: 1.3rem;
                    }
                }
            }
            > .long-cond {
                white-space: normal;
            }
        }
    }

    .panel {
        .panel-body {
            padding: 0 15px;
            a.bordering {
                color: inherit;
                display: block;
                border-top: 1px solid silver;
                &:hover{
                    color: inherit;
                }
                div.row {
                    padding: 2rem 0;
                    //margin: .1rem;
                    height: auto;
                    width: auto;
                    &:hover{
                        background-color: #edf4e8;
                    }
                    
                    >.img-ctv {
                        height: max-content;
                        span {
                            float: right;
                            text-decoration: none;
                            font-style: italic;
                            color: $ctv-color;
                            @media screen and (min-width: sm) {
                                position: absolute;
                                right: 15px;
                                bottom: -88px;
                            }
                        }
                        img {
                            @include circle;
                        }
                    }
                }
            }
        }
    }
    
    // .tim-kiem-but {
    //     position: fixed;
    //     z-index: 3;
    //     left: 90%;
    //     @media (min-width: 768px) {
    //         left: 90%;
    //     }
    //     @media (min-width: 992px) {
    //         left: 89%;
    //     }
    //     @media (min-width: 1200px) {
    //         left: 85%;
    //     }
    //     @media (min-width: 1500px) {
    //         left: 79%;
    //     }
            
    // }
    // #tim-kiem {
    //     margin-bottom: 2rem;
    //     h2 {
    //         text-align: center;
    //     }
    //     nav {
    //         @include navigation-ul;
    //         .filter {
    //             background-color: $sec-back-color;
    //             > * {
    //                 padding: 1rem;
    //             }
    //         }
    //     }
    // }

    // .panel-approved {
    //     border-color: $back-panel-approved-color;
    //     .panel-heading {
    //         @include colors($back-panel-approved-color, $sec-text-color);
    //         @include big-font;
    //     }
    // }
    // .panel-notapproved {
    //     border-color: $back-panel-notapproved-color;
    //     .panel-heading {
    //         @include colors($back-panel-notapproved-color, $sec-text-color);
    //         @include big-font;
    //     }
    // }
}